
*{
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    background: url("background.jpg");
    width: 100vw;
    height: 100vh;
}

.title{
    color: rgb(181, 164, 164);
    font-size: 50px;
}

.instructions{
    margin-bottom:40px;
    color: rgb(243, 242, 242);
    width: fit-content;
    height: 20px;
    text-align: center;
}

#int{
    color: #ff0000;
}

#tick1{
    color: rgb(19, 141, 19);
}

.container{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 30vw;
    height: 55vh;
    margin: 3px auto;
}

#display{
    background: #ff25ed;
    text-align: center;
    border: 1px solid #ff25ed;
    color: rgb(0, 0, 0);
    background: #ffffff;
    height: 30px;
    box-shadow: inset 20px 20px 20px #d24ac7;
    /* caret-color: transparent; */
    pointer-events: none; 
}

.items{
    margin: 15px auto;
    border-radius: 10px;
    width: 280px;
    height: 30px;
    outline: none;
}

.ok{
    cursor: pointer;
    margin: 12px 16px auto -7px;
    color: rgb(19, 141, 19);
}

.type_ok{
    display: flex;
}

#length{
    margin-left: 50px;
    border: 1px solid blueviolet;
    box-shadow: inset 20px 24px 25px blueviolet;
    opacity: 0.99;
}

.sec_ok{
    margin: 12px 3px 1px -32px;
}


#passtype{
    margin-left: 50px;
    margin-right: 15px;
    border: 1px solid blueviolet;
    box-shadow: inset 20px 24px 25px blueviolet;
    transform: scale(1);
    transition: 0.2s;
    opacity: 0.9;
}

#passtype:hover{
    transform: scale(1.05);
    transition: transform 0.2s;
}

#options{
    text-align: center;
    color: #ce2626;
    font-size:small;
}

.btn{
    text-align: center;
    width: 120px;
    border: #ffffff;
  background: #302f2f;
  color: aqua;
}
.btn:hover{
    width: 150px;
    background: #b6ed10;
    color: blueviolet;
    transition:width 0.2s,background 0.5s,color 0.5s;
    box-shadow: 5px 5px 10px black;

}

.options b:hover{
color: rgb(255, 225, 0);
}

/* @media (min-width: 1200px) {
    .title {
        font-size: 4rem; 
    }

    .container {
        width: 40vw; 
        height: 60vh; 
    }

    .items {
        width: 80%; 
    }

    #length, #passtype {
        width: 80%; 
    }
} */